{% extends 'layouts/admin.html.twig' %}

{% block title %}Nouvelle Condition
{% endblock %}

{% block body %}
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">
		<h1>Ajouter une nouvelle Condition</h1>

		{{ include('admin/condition/_form.html.twig') }}

		<div align="right">
			<a href="{{ path('condition_index') }}" class="btn btn-secondary">Retour à la liste</a>
		</div>
	</div>
</main>
{% endblock %}
