{% extends 'layouts/admin.html.twig' %}

{% block title 'Editer le bien' %}

{% block body %}
<main class="pt-5 mx-lg-5">
  <div class="container-fluid mt-5">

		<h1>Editer le bien</h1>

		{{ include ('admin/property/_form.html.twig', {form: form, button: 'Editer'}) }}

	</div>
</main>
{% endblock %}
